
 @media (max-width: 1600px) {
    .head {    
        margin-left: 60px;
     }
      
}
@media (max-width: 1440px) {
    .head {    
        margin-left: 50px;
     }
      
}
/*----------------1280-----------*/
@media (max-width: 1240px) {
    .head {    
       margin-left: 30px;
    }

}
/*----------------1000-----------*/
@media (max-width: 1000px) {
   
    .btn {
        font-size: 10px;
        padding: 8px 9px;
        color: #f18e04;
        text-transform: uppercase;
        margin: 0px 2px 0px 15px;
    }
    .head {
        font-size: 10px;
        margin-left: 20px;
    }
}
/*----------------800-----------*/
@media (max-width: 800px) {
   
    .btn {
        font-size: 10px;
        padding: 8px 9px;
        color: #f18e04;
        text-transform: uppercase;
        margin: 0px 2px 0px 15px;
    }
    /* .move_baner {
        width: 80%;
    } */
    /* .head__480px-off, */
    .head__800px-off, 
    .head__640px {
        display: none;
    }
    .header__logo {
        margin-top: 5px;
    }
    .nav {      
        width: 50vw;    
      }
}
/*----------------700-----------*/
@media (max-width: 700px)  {
    
    .nav {      
        width: 100vw;
        line-height: 0.3;    
      }
}
/*----------------640-----------*/
@media (max-width: 640px)  {
    .head {
        font-size: 30px;
    }
    .nav {      
        width: 100vw; 
        line-height: 0.5;  
      }
      .move_baner-picture {
          width: 130px;
      }  
      .move_baner-descryption {
          font-size: 15px;
      }
}


/*----------------480-----------*/
@media (max-width: 480px) {
    .head__480px-off,
    .head__800px-off,
    .head__640px {
        display: none;
    }   
    
     .baner__p {
        padding: 10px;
        font-size: 20px;
       } 
       .accesories__h2 {
        font-size: 20px;
       }
     .accesories__description {
        font-size: 15px;
        width: 98%;
        line-height: 1.1;
     } 
     .btn {
        font-size: 10px;
        padding: 8px 9px;
        color: #f18e04;
        text-transform: uppercase;
        margin: 0px 2px 0px 15px;
    }
     .move_baner { 
        height: 280px;
        line-height: 1;
        width: 100%;
     }
     .baner {
        height: 440px;
    }  
    .main__baner {
        top: 380px;
    }
     .move_baner-descryption {
         text-align: justify;
         width: 85%;
     }
     .move_baner-picture {
         width: 140px;
     }   
    .nav {      
        width: 100vw;     
      }
    .nav .menu-nav__link {
        font-size: 18px;
        line-height: 1;
    }
    
    .footer__menu a{
        margin: 10px;
   }
}
/*----------------320-----------*/
 @media (max-width: 320px) {
     
    .btn {
        font-size: 10px;
        padding: 13px;
        color: #f18e04;
        text-transform: uppercase; 
        margin-bottom: 2px ;       
    }
    .head__800px-off,
    .head__480px-off,
    .head__640px 
    {
        display: none;
    } 
    .header__logo {
        margin-left: 3px;
    }
    .baner {
        height: 320px;
    }    
    .baner__p {
        padding: 9px;
        font-size: 15px;
       } 
   .move_baner { 
        height: 370px;
        line-height: 1;
        width: 100%;
    }
    .accesories__h2 {
        font-size: 20px;
    }
    .accesories__title {
        height: 400px;
    }
    .move_baner-descryption {
        text-align: justify;
        width: 90%;
       
    }
    .move_baner-picture {
         width: 140px;
    }
    .nav {      
        width: 100vw;
        opacity: 0.9;      
    }
    .nav .menu-nav__link {
        font-size: 18px;
        line-height: 0.5;
    }
    
   .footer__menu a{
        margin: 2px;
   }
   .about__us__title-second {
       margin-top: 100px;
   }
   .about__us-title-off {
       display: none;
   }
   .accesories {
    position: relative;
    height: 1970px;
   }
.accesories__description {
    font-size: 19px;
    }
} 