* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html {
    max-width: 1900px;
    min-width: 300px;
    margin: auto;
}
body {
    background-color: white;
    color: #fff;
}

.header {
    height: 50px;
    max-width: 1900px;
    position: fixed;
    z-index: 2;
   /*  text-align: center; */
    width: 100%;
    background-color:rgba(255, 255, 255, 0.95); 

}
.header__logo {
    width: 130px;
    margin-top: 10px;
}
.head__title {
    color: rgb(23,93,101);
    font-size: 13px;
    display: inline-block;
}
i {
    color:#f18e04; 
    font-size: 11px;  
}
.header__wrap {
    margin-left: 50px;
}
.head {
    display: inline-block;
    font-size: 12px;
    color: black;
}
.header__p {
    font-size: 12px;
    color: black;
}
.head__button {
    position: relative;  
}
.btn {
    position: absolute;
    display: block;
    top: -50px;
    right: 50px;
    margin: 10px 2px 0px 50px ;
    border: 1px solid rgb(23,93,101);
    border-radius: 40px;
    padding: 10px 80px;
    background-color: #fff;
    font-size: 11px;
    color: #f18e04;
    text-transform: uppercase;
    font-family: arial;
    animation: shakes 5s linear infinite;
    line-height: 10px;
}
.btn:hover {
    color: rgb(23,93,101);
    border: 1px solid #f18e04;
}

.navigation a:nth-last-child {
    display: block;
}
@keyframes shakes
    {
        0%{transform: translateX(0);}
        90%{transform: translateX(0);}
        91%{transform: translateX(20px);}
        92%{transform: translateX(-20px);}
        93%{transform: translateX(20px);}
        94%{transform: translateX(-20px);}
        95%{transform: translateX(20px);}
        96%{transform: translateX(-20px);}
        100%{transform: translateX(0);}
    }
    /* .foto {
        background-position: 40% 90%;
    } */
.accesories {
    height: 1970px;
}

.accesories__description {
    font-size: 17px;
    color: black;
    margin: 10px 20px;
}
.move_baner {
    background-color:  rgba(250, 250, 250, 0.7);
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.move_baner-title {
    text-align: center;
    padding: 5px;
    background-color: rgb(110,194,192);
    text-shadow: 1px 3px 4px black;
    color: #f18e04;
}
.divek {
    border-bottom: black;
}
.move_baner-picture {
    float: left;
    width: 250px;
    margin: 15px;
    box-shadow: 2px 4px 45px black;
}
.move_baner-descryption {
   margin: 30px 66px 0 20px;
   text-align: center;
   color: black;
}

/*przyklejone*/
.accesories {
    position: relative;
}
.accesories__title {
    height: 400px;
    background-image: url("picture.jpg");
    /* background-position: center bottom; */
    /*      background-position: 50% 100%;*/
    background-attachment: fixed;
    /* position: relative; */
    /*      background-size: cover;*/
    
  }
  .accesories__main-title {
    position: absolute;
    top: 200px;
    left: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: roboto;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px 0;

  } 
    .accesories__h2 {
        background-color:rgba(250, 250, 250, 0.7);
        width: 95%;
        text-transform: uppercase;
        font-size: 30px;
        padding: 5px;
        color: black;
        text-align: center;
        margin: auto;
    }
    .accesories__description {
      width: 90%;
      line-height: 1.9;
      margin: 40px auto;
      font-family: "Oswald";
      color: black;
      z-index: 4;
      font-weight: bold;
      background-color:  rgba(250, 250, 250, 0.7);
      text-align: center;      
    }
    
/* ABOUT */
   .move_baner {
       height: 240px;
   }
   .about article {
       
    margin-bottom: 30px;
    transition: .8s;
   }
    /*------------------------------------------------*/
      /*tworzenie klasy -100vw po za ekranem te sa ukryte z lewej*/
      /*SEKCJA ABOUT*/
      
      .about .art2,
      .about .art4,
      .about .art6
      {
          transform: translateX(-100vw);
      }
      .about .art1,
      .about .art3,
      .about .art5
      {   
         transform: translateX(100vw);
      }
      /*------------------------------------------------*/
      /*tworzenie klasy-active po wywolaniu wjedzie z boku pozycja 0*/
      .about .art1.active,
      .about .art2.active,
      .about .art4.active,
      .about .art3.active,
      .about .art5.active,
      .about .art6.active
      {
          transform: translateX(0);
      }
footer {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: rgb(57, 163, 161) ;
    margin-top: 30px;
}